body{
    margin: 0%;
 }
html{
    margin: 0%;
}
 body*{
    box-sizing: border-box;
 }


.navbar-brand{
    color: rgb(0, 0, 0);
    
}

.container-fluid{
    background-color: #ffde59;
margin-top: 0; }

.navbar.navbar-expand{
    background-color: #ffde59;
}